@model IEnumerable<MVC26.Models.VehiculoModelo>

@{
    ViewData["Title"] = "Listado";
}

<h1>Listado</h1>

<form method="get">
    <div class="form-group">
        <label for="marcaId">Marca</label>
        <select id="marcaId" name="marcaId" class="form-control" asp-items="ViewBag.Marcas" onchange="this.form.submit()">
            <option value="">-- Select Marca --</option>
        </select>
    </div>
    <div class="form-group">
        <label for="serieId">Serie</label>
        <select id="serieId" name="serieId" class="form-control" asp-items="ViewBag.Series" onchange="this.form.submit()">
            <option value="">-- Select Serie --</option>
        </select>
    </div>
</form>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Matricula)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Color)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Serie)
        </th>
        <th></th>
    </tr>
    </thead>
    <tbody>
    @foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Matricula)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Color)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Serie.ID)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.ID">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.ID">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.ID">Delete</a>
            </td>
        </tr>
    }
    </tbody>
</table>