@model IEnumerable<MVC26.Controllers.VehiculoController.VehiculoTotal>

@{
    ViewData["Title"] = "Listado3";
}

<h1>Listado3</h1>

<form method="get">
    <div class="form-group">
        <label for="color">Color</label>
        <select id="color" name="color" class="form-control" asp-items="ViewBag.Colores" onchange="this.form.submit()">
            <option value="%">-- Seleccionar Color --</option>
        </select>
    </div>
</form>


<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Matricula)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Color)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Nom_Serie)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Nom_Marca)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Matricula)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Color)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Nom_Serie)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Nom_Marca)
            </td>
        </tr>
}
    </tbody>
</table>
